<header>
	<div title>
		Song Playlist
	</div>
</header>

<div class="content-area">
	<mat-card class="bottom-margin">
		<mat-card-title>Add songs to playlist</mat-card-title>
		<mat-card-content>
			<button mat-button class="add-song-button" (click)="openSongModal()">
				<div class="add-song-icon">
					<i class="material-icons"></i>
				</div>
			</button>
			
		</mat-card-content>
		
	</mat-card>

	<!-- TABLE -->
	<div class="mat-elevation-z2 bottom-margin" *ngIf="showSongsTable">
			<div *ngIf="songsData.selection.selected.length === 0; else deleteHeaderSongs" class="song-table-header">
				Songs
			</div>
			<ng-template #deleteHeaderSongs>
				<div class="song-table-header delete">
					<div>{{ songsData.selection.selected.length }} song<span *ngIf="songsData.selection.selected.length > 1">s</span> selected 
						<button mat-button (click)="removeSong(songsData.selection.selected)">Remove</button>
					</div> 
				</div>
			</ng-template>
					<mat-table #table [dataSource]="songsData.dataSource">
				
					<!-- Checkbox Column -->
					<ng-container matColumnDef="select">
						<mat-header-cell *matHeaderCellDef>
						<mat-checkbox (change)="$event ? masterToggle(songsData.selection, songsData.dataSource) : null"
										[checked]="songsData.selection.hasValue() && isAllSelected(songsData.selection, songsData.dataSource)"
										[indeterminate]="songsData.selection.hasValue() && !isAllSelected(songsData.selection, songsData.dataSource)">
						</mat-checkbox>
						</mat-header-cell>
						<mat-cell *matCellDef="let row">
						<mat-checkbox (click)="$event.stopPropagation()"
										(change)="$event ? selectRow(songsData.selection, row) : null"
										[checked]="songsData.selection.isSelected(row)">
						</mat-checkbox>
						</mat-cell>
					</ng-container>

					<!-- Song -->
					<ng-container matColumnDef="song">
						<mat-header-cell *matHeaderCellDef> Song </mat-header-cell>
						<mat-cell *matCellDef="let element"> {{element.songDescription}} </mat-cell>
					</ng-container>

					<!-- Artist -->
					<ng-container matColumnDef="artist">
						<mat-header-cell *matHeaderCellDef> Artist </mat-header-cell>
						<mat-cell *matCellDef="let element"> {{element.artistDescription}} </mat-cell>
					</ng-container>

					<!-- Albums -->
					<ng-container matColumnDef="album">
						<mat-header-cell *matHeaderCellDef> Album </mat-header-cell>
						<mat-cell *matCellDef="let element"> {{element.albumDescription}} </mat-cell>
					</ng-container>
				
					<mat-header-row *matHeaderRowDef="songsData.displayColumns"></mat-header-row>
					<mat-row *matRowDef="let row; columns: songsData.displayColumns;"
							(click)="songsData.selection.toggle(row)">
					</mat-row>
					</mat-table>
		</div>
		<!--END TABLE  -->
	
</div>


<router-outlet></router-outlet>
